*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

body{
    background-color: whitesmoke;
}

.section h1{
    margin-left: 12px;
    font-size: larger;
    font-weight: 900;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-transform: capitalize;
    padding: px;
}

.sectionB{
    display: flex;
}